@font-face {
    font-family: sansation_light;
    src: url(./public/resources/font/Sansation_Light.ttf);
}

@font-face {
    font-family: sansation_light_italic;
    src: url(./public/resources/font/Sansation_Light_Italic.ttf);
}

@font-face {
    font-family: sansation;
    src: url(./public/resources/font/Sansation_Regular.ttf);
}

@font-face {
    font-family: sansation_italic;
    src: url(./public/resources/font/Sansation_Italic.ttf);
}

@font-face {
    font-family: sansation_bold;
    src: url(./public/resources/font/Sansation_Bold.ttf);
}

@font-face {
    font-family: sansation_bold_italic;
    src: url(./public/resources/font/Sansation_Bold_Italic.ttf);
}

* {
    margin: 0;
    padding: 0;
    border-style: hidden;
    font-family: sansation;
}

body {
    display: flex;
    overflow-x: hidden;
}

.navbar {

    background-color: #313232;
    height: 100vh;

    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar__logo {

    margin-top: 45px;
    width: 55px;
    cursor: pointer;
}

.navbar__separation {
    width: 70%;
    margin: 50px 0;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.main_greetings_navbar__separation {
    width: 100%;
    margin: 75px 0px 25px 0;
    border-bottom: 2px solid rgb(78, 78, 78);
}

.navbar__linksWrapper {

    width: 100%;
    height: 450px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}


.navbar__linksWrapper__link {
    display: flex;
    width: fit-content;
    height: fit-content;
}


.navbar__linksWrapper__link>img {
    width: 30px;
}


main {


    height: auto;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;

}

.main_greetings__wrapper {

    width: 100vw;
    height: 100vh;
    min-height: 750px;
    max-height: 1080px;
    display: flex;

    justify-content: center;
    align-items: center;

}


.main_greetings {


    margin: 75px;
    padding: 50px;
    margin-left: 150px;
   
    height: fit-content;
    width: 80%;


}

.main_greetings_picture {
    width: 125px;
}



.main_greetings_title {
    font-family: sansation_light;
    font-size: 75px;
    letter-spacing: 5px;
    color: #1C1C1C;
    font-weight: 100;
}

.main_greetings_subtitle {
    font-family: sansation_italic;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 5px;
}



.main_projects_slideshow {
    width: 600px;
    height: 500px;
    background-color: darkblue;
}


.main_greetings_info_wrapper {
    margin-top: 50px;
}