.projects__section {

  
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-property: none;
    display: flex;
    width: 30vw;
    height: 100vh;
    min-height: 750px;
    max-height: 1080px;    
    min-width: 500px;
    z-index: 100;

    .controller {
        height: 100%;
        width: 12px;
        background-color: $darkGray;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        cursor: w-resize;

        button {
            $circleSize: 60px;
            height: $circleSize * 1.7;
            width: $circleSize;
            border-bottom-left-radius: $circleSize * 2;
            border-top-left-radius: $circleSize * 2;
            background-color: $darkGray;
            position: absolute;
            cursor: w-resize;
            border: none;
            user-select: none;

        }
    }

    section {
      
        display: flex;
        flex-direction: column;     
        align-items: center;
        width: 100%;
        height: 100%;


        header {
            width: 100%;
            height: 112px;
            background-color: $darkGray;
        }

        main {
            background-color: $lightGray;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-grow: 100;


            article {
                background-color: brown;
                max-width: 500px;
                width: 90%;
                height: 40%;
            }
        }
    }
}