.more-about-me {

    display: none;
    flex-direction: column;
    width: 100vw;

    h2 {
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-property: "font-size";
        font-family: $redHat;
        font-weight: 400;
        font-size: 35px;
    }

    p {
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-property: "font-size";
        font-family: $montserrat;
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
    }

    .love-creation {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px 0 100px 75px;
        background-color: $lightGray;
        width: 100%;


        main {
            max-width: 1200px;
            width: 80%;

            display: flex;
            flex-direction: row;

            justify-content: space-around;

            .image {
                transition-timing-function: ease-in-out;
                transition-duration: 0.5s;
                transition-property: background-image;

                width: 400px;
                height: 500px;

                background-blend-mode: darken;
                background-position: 50% 50%;
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-image: url("https://scontent.fclo1-3.fna.fbcdn.net/v/t1.6435-1/p200x200/186536025_2891555937786226_3191484503930790222_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=7206a8&_nc_eui2=AeHIrofd18FcfXeDWZIBYRIECgLFC9evnCkKAsUL16-cKYFx5VZQxE6h8RJe_NrD9Do_JIvXCYvSwcQGgdrXePIM&_nc_ohc=dzFNnIz1H0EAX8z1qON&_nc_ht=scontent.fclo1-3.fna&tp=6&oh=d7f60c03e65e76036950e39fbd26f01f&oe=60D6EE05");
            }


            .information {

                margin-left: 20px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {

                    margin-top: 100px;
                    text-align: center;
                    font-weight: 500;
                    font-family: $redHat;
                    font-size: 80px;
                    letter-spacing: 0.13em;
                    line-height: 55px;
                    color: $white;

                    &::selection {
                        background-color: transparent;
                        text-shadow: $white 5px 5px 0px;
                        color: $salmone;
                    }


                    span {
                        font-size: 100px;
                        font-weight: 700;
                        letter-spacing: 0.20em;
                        color: $salmone;

                        &::selection {
                            background-color: transparent;
                            text-shadow: 7px 7px 0px;
                        }

                    }

                }

                p {

                    color: $white;
                    width: 570px;
                    margin-top: 74px;


                    span {
                        padding: 0 5px;
                        font-style: italic;
                        background-color: white;
                        color: $salmone;
                        font-weight: 700;

                        &::selection {
                            background-color: $white;
                            color: $salmone;
                        }
                    }

                }
            }
        }
    }

    .i-am-developer {
        background-color: $payoBlue;
        width: 100%;
        padding: 100px 0 100px 75px;

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            img {
                width: 75px;
            }

            h2 {

                margin-top: 30px;
                font-weight: 500;
                color: $salmone;

                span {
                    cursor: pointer;
                    color: $white;
                    font-style: italic;

                    &::selection {
                        background-color: $white;
                        color: $salmone;
                    }
                }



                .cre {
                    display: none;
                }

                &:hover {

                    .cre {
                        display: inline;
                    }

                    .dev {
                        display: none;
                    }

                }
            }

            p {

                max-width: 1000px;
                width: 80%;
                margin-top: 50px;
                color: white;


                span {
                    background-color: $salmone;
                    padding: 0 5px;
                    font-weight: 600;


                    &::selection {
                        background-color: $white;
                        color: $salmone;
                    }
                }

            }
        }

    }

    .experience {
        background-color: $white;
        padding: 75px 0 75px 75px;
        width: 100%;

        main {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {

                margin-top: 30px;
                color: $lightestGray;
            }

            section {
                display: flex;
                justify-content: space-between;
                margin-top: 50px;

                width: 90%;
                max-width: 1500px;


                .frameworks {
                    display: flex;

                    justify-content: space-around;
                    flex-direction: column;

                    .framework {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100px;

                        img {
                            width: 50px;
                            margin-bottom: 15px;
                        }

                        h4 {
                            font-size: 22px;
                            font-family: $redHat;
                            color: $lightestGray;
                            text-align: center;

                        }

                        p {
                            margin-top: 5px;
                            font-size: 18px;
                            text-align: center;
                            color: $lightestGray;

                        }
                    }
                }

                .languages {
                    background-color: $darkGray;
                    cursor: text;
                    border-radius: 15px;
                    min-width: 500px;
                    width: 85%;

                    padding: 50px;
                    box-shadow: transparentize($color: $lightGray, $amount: 0.6) 0px 10px 20px 0px;

                    h1 {
                        font-size: 26px;
                        color: $white;
                        font-family: $redHat;

                        span {

                            &.italic {
                                margin-right: 10px;
                                font-style: italic;
                                font-size: 24px;
                            }

                            &.salmon {
                                color: $salmone;
                            }

                        }

                        &.comment {
                            font-family: $redHat;
                            margin-top: 50px;
                            margin-bottom: 15px;
                            margin-left: 50px;
                            font-size: 22px;
                            font-weight: 300;
                            color: $almostWhite;
                            font-style: italic;
                        }

                        &.variable {
                            color: $salmone;
                            font-size: 24px;
                            margin-top: 10px;
                            margin-left: 80px;
                        }

                    }
                }
            }
        }

    }

    .interest-fields {

        background-color: $white;
        padding: 100px 0 100px 75px;
        width: 100%;
        background-color: $salmone;

        main {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                color: $white;

                &::selection {
                    background-color: $white;
                    color: $salmone;
                }
            }

            p {
                color: $white;

                &::selection {
                    background-color: $white;
                    color: $salmone;
                }
            }

            div {
                display: flex;
                margin-top: 50px;
                width: 90%;
                justify-content: space-around;
                flex-wrap: wrap;

                article {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    width: 150px;

                    img {

                        height: 60%
                    }

                    h3 {
                        color: $white;
                        margin-top: 15px;
                        font-size: 22px;
                        text-align: center;

                        &::selection {
                            background-color: $white;
                            color: $salmone;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: $medium) {
    .more-about-me {

        h2 {
            font-size: 26px;

        }


        p {
            line-height: 25px;
            font-size: 18px;
        }

        .love-creation {

            padding: 50px 0 100px 75px;

            main {
                width: 90%;
                flex-direction: column;
                align-items: center;

                .image {
                    max-width: 600px;
                    width: 100%;
                    height: 200px;
                }

                .information {

                    margin-left: 0px;

                    h1 {
                        margin-top: 40px;
                        font-size: 50px;
                        line-height: 35px;

                        span {
                            font-size: 60px;
                        }
                    }

                    p {
                        margin-top: 50px;
                        width: 90%;

                    }
                }
            }
        }

        .experience {

            main {
                section {
                    flex-direction: column;

                    .frameworks {
                        flex-direction: row;
                        align-items: flex-start;


                        .framework {

                            img {
                                width: 40px;
                                margin-bottom: 10px;
                            }

                            h4 {
                                font-size: 20px;

                            }

                            p {
                                margin-top: 2px;
                                font-size: 16px;
                            }
                        }
                    }

                    .languages {
                        margin-top: 30px;
                        min-width: 0;
                        width: 100%;


                        h1 {
                            font-size: 18px;

                            span {

                                &.italic {
                                    margin-right: 5px;
                                    font-size: 18px;
                                }
                            }

                            &.comment {

                                margin-top: 30px;
                                margin-bottom: 15px;
                                margin-left: 30px;
                                font-size: 16px;
                            }

                            &.variable {
                                color: $salmone;
                                font-size: 20px;
                                margin-top: 10px;
                                margin-left: 50px;
                            }
                        }
                    }
                }
            }
        }

        .interest-fields {
            main {
                div {
                    margin-top: 25px;
                    article {
                        margin-top: 25px;
                        img {

                            height: 40%
                        }

                        h3 {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}