.presentation__section {
    background-color: white;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-property: none;
    position: relative;

    max-width: 100%;

    width: 70vw;
    height: 100vh;
    min-height: 850px;

    display: flex;
    justify-content: center;
    align-items: center;


    .presentation {
     
        display: flex;
        flex-direction: column;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
        transition-property: none;
        min-width: 450px;
        max-width: 1500px;


        width: 80%;
        margin: 75px;
        padding: 50px;
        margin-left: 150px;

        margin-top: 0px;

        .picture {
            width: 135px;
            border-radius: 100%;
            box-shadow: transparentize($color: $lightGray, $amount: 0.75) 0px 5px 12px 0px;
        }

        .information {
            margin-top: 50px;

            .title {
                font-family: $lato;
                font-size: 75px;
                letter-spacing: 5px;
                color: #1C1C1C;
                font-weight: 300;
            }


            .subtitle {
                font-family: $lato;
                font-weight: 300;
                font-size: 30px;
                letter-spacing: 5px;

            }



            .separation-gray {
                margin: 75px 0px 25px 0;
                width: 100%
            }

        }

        .scrollCta {

            transition-timing-function: ease-in-out;
            transition-duration: 0.5s;
            transition-property: opacity;
            opacity: 0;
            bottom: 0;

            width: 150px;
            position: absolute;
            align-self: center;
        }

    }
}

@media (max-width: $small) {

    .presentation__section {



        .presentation {
            display: flex;

            align-items: center;
            min-width: 250px;
            margin: 0px;
            padding: 0px;
            margin-left: 50px;
            height: 550px;

            .picture {
                width: 100px;

            }

            .information {
                .title {
                    text-align: center;
                    font-size: 35px;
                    line-height: 50px;

                }

                .subtitle {

                    font-size: 18px;


                }

            }

           
        }
    }
}