.projects__section {

    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-property: none;
    position: relative;
    display: flex;
    width: 30vw;
    height: 100vh;
    min-height: 850px;
    min-width: 425px;
    max-width: 100vw;

    z-index: 100;

    .controller {
        height: 100%;
        width: 12px;
        background-color: $darkGray;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        cursor: w-resize;

        button {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            $circleSize: 60px;
            height: $circleSize * 1.7;
            width: $circleSize;
            border-bottom-left-radius: $circleSize * 2;
            border-top-left-radius: $circleSize * 2;
            background-color: $darkGray;
            position: absolute;
            cursor: w-resize;
            border: none;
            user-select: none;

            img {
                user-select: none;
                margin-right: 6px;
            }



        }
    }

    section {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: $lightGray;



        header {
            transition-timing-function: ease-in-out;
            transition-duration: 0.3s;
            transition-property: opacity;
            width: 100%;
            height: 112px;
            background-color: $darkGray;
            padding-top: 20px;
            padding-left: 20px;

            h1 {
                font-size: 30px;
                color: $white;
                font-family: $redHat;
            }

            p {
                margin-top: 15px;
                color: $white;
                font-weight: 300;
                font-size: 24px;
                font-family: $montserrat;
            }
        }

        main {
            transition-timing-function: ease-in-out;
            transition-duration: 0.5s;
            transition-property: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-grow: 100;


            .singleProject {

                border-radius: 100%;
                max-width: 350px;
                width: 80%;

                img {
                    transition-timing-function: ease-in-out;
                    transition-duration: 0.3s;
                    transition-property: opacity;

                    border-radius: 100%;
                    width: 100%;
                    cursor: pointer;
                }
            }

            article {
                display: flex;
                position: absolute;
                justify-content: space-around;
                bottom: 50px;
                width: 250px;


                .bullet {
                    display: none;
                    transition-timing-function: ease-in-out;
                    transition-duration: 0.3s;
                    transition-property: background-color, box-shadow;

                    border-radius: 100px;
                    background-color: rgba(175, 175, 175, 0.89);
                    width: 15px;
                    height: 15px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(255, 255, 255);
                        box-shadow: rgb(255, 255, 255) 0 0 0 3px;
                    }

                    &.selected {
                        background-color: rgb(255, 255, 255);
                        box-shadow: rgb(255, 255, 255) 0 0 0 3px;
                    }
                }
            }
        }
    }
}



@media (max-width: $medium) {

    .projects__section {
        .controller {
            display: none;
        }
    }

}