.projects__section {

    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-property: none;
    position: relative;
    display: flex;
    width: 30vw;
    height: 100vh;
    min-height: 650px;
    min-width: 425px;
    max-width: 100vw;

    z-index: 100;

    .controller {
        height: 100%;
        width: 12px;
        background-color: $darkGray;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        cursor: w-resize;

        button {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            $circleSize: 60px;
            height: $circleSize * 1.7;
            width: $circleSize;
            border-bottom-left-radius: $circleSize * 2;
            border-top-left-radius: $circleSize * 2;
            background-color: $darkGray;
            position: absolute;
            cursor: w-resize;
            border: none;
            user-select: none;

            img {
                user-select: none;
                margin-right: 6px;
            }



        }
    }

    section {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: $lightGray;



        header {
            transition-timing-function: ease-in-out;
            transition-duration: 0.3s;
            transition-property: opacity;
            width: 100%;
            height: auto;
            background-color: $darkGray;
            padding: 20px 0px;



            h1 {
                margin-left: 20px;
                font-size: 30px;
                color: $white;
                font-family: $redHat;
            }

            p {
                margin-left: 20px;
                margin-top: 15px;
                color: $white;
                font-weight: 300;
                font-size: 24px;
                font-family: $montserrat;
            }
        }

        .projects-gallery {
            transition-timing-function: ease-in-out;
            transition-duration: 0.5s;
            transition-property: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-grow: 100;


            .singleProject {

                border-radius: 100%;
                max-width: 350px;
                width: 80%;

                img {
                    transition-timing-function: ease-in-out;
                    transition-duration: 0.3s;
                    transition-property: opacity;

                    border-radius: 100%;
                    width: 100%;
                    cursor: pointer;
                }
            }

            article {
                display: flex;
                position: absolute;
                justify-content: space-around;
                bottom: 50px;
                width: 250px;


                .bullet {
                    display: none;
                    transition-timing-function: ease-in-out;
                    transition-duration: 0.3s;
                    transition-property: background-color, box-shadow;

                    border-radius: 100px;
                    background-color: rgba(175, 175, 175, 0.89);
                    width: 15px;
                    height: 15px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(255, 255, 255);
                        box-shadow: rgb(255, 255, 255) 0 0 0 3px;
                    }

                    &.selected {
                        background-color: rgb(255, 255, 255);
                        box-shadow: rgb(255, 255, 255) 0 0 0 3px;
                    }
                }
            }
        }

        .projects-expanded {
            margin-top: 50px;
            margin-bottom: 75px;
            width: 80%;
            max-width: 1500px;

            display: none;
            justify-content: space-around;

            flex-wrap: wrap;
            overflow-y: scroll;
            overflow-x: hidden;

            article {

                margin: 20px 50px;
                width: 300px;

                display: none;
                flex-direction: column;
                align-items: center;

                &:hover {

                    a {
                        div {
                            width: 325px;


                        }
                    }

                    h1 {
                        width: 325px;
                        opacity: 1;
                    }


                }

                a {
                    div {
                        background-position: center;
                        background-position: center;
                        transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 300px;
                        height: 300px;
                        background-image: url("./../public/resources/image/profile_photo.png");
                    }


                }

                h1 {
                    padding: 15px 30px;
                    transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
                    width: 100%;
                    background-color: $darkGray;
                    opacity: 0;
                    font-size: 20px;
                    text-align: center;
                    align-items: center;
                    color: $white;
                }
            }
        }
    }


}

.modal {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
   
    min-height: 800px;
    width: 100vw;
    user-select: none;
    background-color: $darkGray;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 2000;
    align-items: center;




    a {

        align-self: flex-start;
        margin-left: 100px;
        margin-top: 50px;

        img {
            width: 20px;
        }
    }

    section {
        margin: 50px 0;
      
        width: 90%;



        img {

            display: block;
            width: 100%;
        }

    }



}



@media (max-width: $medium) {

    .projects__section {
        .controller {
            display: none;
        }

        section {

            .projects-gallery {

                display: none;
            }

            .projects-expanded {
                display: flex;
            }


        }
    }

}



@media (max-width: $small) {

    .projects__section {
        min-width: 0px;

        section {

            header {
                padding: 20px 0px;

                h1 {
                    margin-left: 20px;
                    font-size: 16px;

                }

                p {
                    margin-left: 20px;
                    font-size: 14px;

                }
            }

            .projects-gallery {

                article {

                    width: 175px;

                    .bullet {
                        width: 10px;
                        height: 10px;
                    }
                }

            }

            .projects-expanded {

                width: 100%;


                article {

                    margin: 20px 0px;
                    width: 100%;
                    max-width: 350px;

                    a {

                        width: 70%;

                        div {


                            width: 100%;
                            height: 300px;

                        }
                    }

                    h1 {
                        opacity: 1;
                        width: 70%;
                        font-size: 18px;
                    }

                    &:hover {

                        a {
                            div {

                                width: 100%;
                                height: 300px;

                            }
                        }

                        h1 {

                            width: 70%;
                            font-size: 18px;
                        }


                    }


                }
            }
        }
    }


    .modal {
        a {
            margin-top: 25px;
            margin-left: 25px;

            img {
                width: 15px;
            }
        }

        section {
            margin-top: 25px;
            width: 100%;
        }
    }
}