.projects__section {
 
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-property: none;

    display: flex;
    width: 30vw;
    height: 100vh;
    min-height: 850px;
    max-height: 1080px;
    max-width: 100vw;

    z-index: 100;

    .controller {
        height: 100%;
        width: 12px;
        background-color: $darkGray;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        cursor: w-resize;

        button {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            $circleSize: 60px;
            height: $circleSize * 1.7;
            width: $circleSize;
            border-bottom-left-radius: $circleSize * 2;
            border-top-left-radius: $circleSize * 2;
            background-color: $darkGray;
            position: absolute;
            cursor: w-resize;
            border: none;
            user-select: none;

            img {
                user-select: none;
                margin-right: 6px;
            }



        }
    }

    section {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: $lightGray;



        header {
            width: 100%;
            height: 112px;
            background-color: $darkGray;
        }

        main {
            transition-timing-function: ease-in-out;
            transition-duration: 0.5s;
            transition-property: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-grow: 100;


            article {
                background-color: brown;
                max-width: 500px;
                width: 90%;
                height: 40%;
            }
        }
    }
}



@media (max-width: $medium) {

    .projects__section {
        .controller {
            display: none;
        }
    }

}