/*
---------------------Utils
*/

@import './utils/_reset.scss';
@import './utils/_breakpoints.scss';
@import './utils/_fonts.scss';
@import './utils/_colors.scss';
@import './utils/_separation.scss';

/*
---------------------Containers
*/


/*
---------------------Components
*/

@import './_Navbar.scss';
@import './_PresentationCard.scss';
@import './_ProjectsCard.scss';
@import './_MoreAboutMe.scss';

* {

    font-family: $lato;
}

html,
body {
    width: 100%;
}

body {
    display: flex;
    overflow-x: hidden;


}

main {

    height: auto;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
}

img {
    user-drag: none;
    user-select: none;
}

a {
    cursor: pointer;
}