/*
---------------------Utils
*/

@import './utils/_reset.scss';
@import './utils/_breakpoints.scss';
@import './utils/_fonts.scss';
@import './utils/_colors.scss';
@import './utils/_separation.scss';

/*
---------------------Containers
*/


/*
---------------------Components
*/

@import './../public/components/Navbar/_Navbar.scss';
@import './../public/containers/PresentationCard/_PresentationCard.scss';
@import './../public/containers/ProjectsCard/_ProjectsCard.scss';

* {

    font-family: $lato;
}

body {
    display: flex;
    overflow-x: hidden;
}

main {

    height: auto;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
}