
/*
---------------------Utils
*/

@import './utils/_reset.scss';
@import './utils/_breakpoints.scss';
@import './utils/_fonts.scss';
@import './utils/_colors.scss';

/*
---------------------Containers
*/


/*
---------------------Components
*/

@import './../public/components/Navbar/_Navbar.scss';
@import './../public/components/PresentationCard/_PresentationCard.scss';

---
---
* {
  
    font-family: $lato;    
}

body {
    display: flex;
    overflow-x: hidden;
}

main {
    height: auto;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
}